div
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#/view1') basicMEAN

      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(ng-repeat="view in navbar.data.left.public"
              class="{{(navbar.$location.path()==view.path.primary || navbar.$location.path() == view.path.alt)? 'active' : ''}}")
            a(ng-href='#{{view.path.primary}}') {{view.displayName}}

          if user
            li(ng-repeat="view in navbar.data.left.protected"
                class="{{(navbar.$location.path()==view.path.primary || navbar.$location.path() == view.path.alt)? 'active' : ''}}")
              a(ng-href='#{{view.path.primary}}') {{view.displayName}}

          li(ng-show='navbar.loading')
            a(href='')
              i.fa.fa-refresh.fa-lg.text-info(class="{{navbar.loading? 'fa-spin' : ''}}")

        ul.nav.navbar-nav.navbar-right
          li(ng-repeat="view in navbar.data.right.public"
              class="{{(navbar.$location.path()==view.path.primary || navbar.$location.path() == view.path.alt)? 'active' : ''}}")
            a(ng-href='#{{view.path.primary}}') {{view.displayName}}
          if !user
            li.dropdown
              a.dropdown-toggle(href='/login', data-toggle='dropdown')
                | Log In
                span.caret
              ul.dropdown-menu(style='width: 300px; ', role='menu')
                li.col-lg-12(ng-include="'partials/navbar/login-form'")
            li
              .navbar-form(role='alertdialog')
                a.btn.btn-success.btn-outline(href='', data-toggle='modal', data-target='#signup-modal')
                  i.fa.fa-lock
                  |  Sign Up
          else
            li(ng-repeat="view in navbar.data.right.protected"
                class="{{(navbar.$location.path()==view.path.primary || navbar.$location.path() == view.path.alt)? 'active' : ''}}")
              a(ng-href='#{{view.path.primary}}') {{view.displayName}}
            li
              .navbar-form
                a.btn.btn-warning.btn-outline(href='authenticate/logout')
                  |  Log Out

  div(ng-include="'partials/navbar/signup-modal'")

